.nav-brand{
    font-weight: bold;
}
nav{
    padding: var(--l-padding);
    background-color: var(--primary-color);
    color: var(--white-bg-color);
    border-bottom-left-radius: var(--m-padding);
}

.introduction{
    width:50%;
    padding:4rem;
}

.intro-text{
    font-size: 3rem;
    font-weight: bold;
    color:var(--primary-color);
}

.btn {
    width: 6.25rem;
    height: 2.5rem;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.25rem 0.56rem;
    font-size: 0.8rem;
  }
  
  .btn-primary {
    background-color: var(--primary-color);
  }

  .btn-primary:hover {
    background-color: var(--primary-color-hover);
  }