.badge{
    position: relative;
}

.status{
    position:absolute;
    width:0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    bottom:0;
    right: 0;
}

.online{
    background-color: var(--success-color);
}

.offline{
    background-color: var(--error-color);
}

.dnd{
    background-color: var(--grey-color);
}

.material-icons.md-40{
    font-size: 2.5rem;
}

.number{
    position:absolute;
    width:1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: red;
}

.top-right{
    top:0;
    right:0;
}

.icon{
    width:fit-content
}