<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/main.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Installation</title>
</head>
<body>
    <nav class = "flex space-between">
        <div class = "nav-brand">Water Style UI</div>
        <div>Documentation</div>
    </nav>
    <div class = "content-wrapper flex">
        <aside class = "sidebar flex flex-column gap-l">
            <a href = "/index.html">Home</a>
            <a href = "install.html" class = "active-link">Installation</a>
            <p>Components</p>
            <ul class = "flex flex-column gap-xl">
                <li><a href="avatar.html">Avatar</a></li>
                <li><a href="badge.html">Badge</a></li>
                <li><a href="alert.html">Alert</a></li>
                <li><a href="button.html">Buttons</a></li>
                <li><a href="card.html">Cards</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a href="image.html">Image</a></li>
                <li><a href="navigation.html">Navigation</a></li>
                <li><a href="slider.html">Slider</a></li>
                <li><a href="drawer.html">Drawer/List</a></li>
                <li><a href="modal.html">Modal</a></li>
                <li><a href="toast.html">Toast</a></li>
                <li><a href="rating.html">Rating</a></li>
            </ul>
        </aside>

        <div class = "flex flex-column main gap-m debug">

            <h1 class = "primary-text">Introduction to Water-Style</h1>
            <p>Water-Style UI is a light-weight open source UI framework that contains predefined components and styles to make designing your applications a breeze.</p>
                
            <div class = "flex gap-l m5-top" style = "align-items: center">
                <h1>Installation Guide</h1>
                <p>In order to introduce Waster-Style to your project, Copy the Link given below and paste it in the head tag of your html, above all other style sheets.</p>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2859%2C130%2C246%2C1%29&t=seti&wt=none&l=auto&width=503&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10.5px&lh=142%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%2520%253D%2520%2522stylesheet%2522%2520href%2520%253D%2520%2522https%253A%252F%252Fwater-style-ui.netlify.app%252Fmain.css%2522%2520%252F%253E"
                style="width: 503px; height: 57px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class = "flex gap-l m5-top" style = "align-items: center">
                <h1>Customizing Styles</h1>
                <p>In order to override our base classes, users can add their own class to the pre-existing classes, and style them seperately, as shown below.</p>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2859%2C130%2C246%2C1%29&t=seti&wt=none&l=auto&width=503&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10.5px&lh=142%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520my-style%2522%253ECUSTOMIZE%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253C--%2520Custom%2520class%2520styling%2520--%253E%250A%253Cstyle%253E%250A.my-style%257B%250A%2509color%2520%253A%2520black%253B%250A%2520%2520%2520%2520background-color%2520%253A%2520pink%253B%2520%250A%2509%257D%250A%253C%252Fstyle%253E"
                style="width: 503px; height: 155px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

        </div>
    
    </div>

</body>
</html>