<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/main.css">

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Slider</title>
</head>
<body>
    <nav class = "flex space-between">
        <div class = "nav-brand">Water Style UI</div>
        <div>Documentation</div>
    </nav>
    <div class = "content-wrapper flex">
        <aside class = "sidebar flex flex-column gap-l">
            <a href = "/index.html">Home</a>
            <a href = "install.html">Installation</a>
            <a href="typorgraphy.html">Typography</a>
            <p>Components</p>
            <ul class = "flex flex-column gap-xl">
                <li><a href="avatar.html">Avatar</a></li>
                <li><a href="badge.html">Badge</a></li>
                <li><a href="alert.html" >Alert</a></li>
                <li><a href="button.html">Button</a></li>
                <li><a href="card.html">Cards</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a href="image.html">Image</a></li>
                <li><a href="navigation.html">Navigation</a></li>
                <li><a href="slider.html" class = "active-link">Slider</a></li>
                <li><a href="drawer.html">Drawer/List</a></li>
                <li><a href="modal.html">Modal</a></li>
                <li><a href="toast.html">Toast</a></li>
                <li><a href="rating.html">Rating</a></li>
                <li><a href="grid.html">Grid</a></li>
            </ul>
        </aside>

        <div class = "flex flex-column main gap-m debug">
            <h1>Slider Component</h1>
            <p>The Slider is used to allow users to make selections from a range of values.</p>
            <p>In this slider, the initial value is 1 and last value 100. You can modify it as per your usecase.</p>

        <div class = "container quarter-width">
            <div class="flex space-between">
                <div class = "grow-1 primart-text">1</div>
                <div class = "grow-1 center-text">50</div>
                <div class = "grow-1 text-right">100</div>
            </div>
            <input type="range" min="1" max="100" value="50" class = "slider m2-top full-width">
        </div> 

        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2859%2C130%2C246%2C1%29&t=seti&wt=none&l=auto&width=503&ds=true&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=10.5px&lh=142%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522flex%2520space-between%2522%253E%250A%2509%253Cdiv%2520class%2520%253D%2520%2522grow-1%2520primart-text%2522%253E1%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%2520%253D%2520%2522grow-1%2520center-text%2522%253E50%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%2520%253D%2520%2522grow-1%2520text-right%2522%253E100%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%2520class%2520%253D%2520%2522slider%2520m2-top%2520full-width%2522%253E"
            style="width: 503px; height: 127px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </div>
</div>

</body>
</html>