<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/main.css">
    <title>Typography</title>
</head>
<body>
    <nav class = "flex space-between">
        <div class = "nav-brand">Water Style UI</div>
        <div>Documentation</div>
    </nav>
    <div class = "content-wrapper flex">
        <aside class = "sidebar flex flex-column gap-l">
            <a href = "/index.html">Home</a>
            <a href = "install.html">Installation</a>
            <a href="typorgraphy.html" class = "active-link">Typography</a>
            <p>Components</p>
            <ul class = "flex flex-column gap-xl">
                <li><a href="avatar.html">Avatar</a></li>
                <li><a href="badge.html">Badge</a></li>
                <li><a href="alert.html">Alert</a></li>
                <li><a href="button.html">Buttons</a></li>
                <li><a href="card.html">Cards</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a href="image.html">Image</a></li>
                <li><a href="navigation.html">Navigation</a></li>
                <li><a href="slider.html">Slider</a></li>
                <li><a href="drawer.html">Drawer/List</a></li>
                <li><a href="modal.html">Modal</a></li>
                <li><a href="grid.html">Grid</a></li>
            </ul>
        </aside>

        <div class = "flex flex-column main gap-m debug">
            <h1>Headings</h1>
            <p>There are five different headings present.You can use them using these classes: h-xl , h-l , h-m , h-s , h-xs</p>

            <div class = "container light-border">
                <h1 class = "h-xl">Heading 1</h1>
                <h2 class = "h-l">Heading 2</h2>
                <h3 class = "h-m">Heading 3</h3>
                <h4 class = "h-s">Heading 4</h4>
                <h5 class = "h-xs">Heading 5</h5>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%2520%253D%2520%2522h-xl%2522%253EHeading%25201%253C%252Fh1%253E%250A%253Ch2%2520class%2520%253D%2520%2522h-l%2522%253EHeading%25202%253C%252Fh2%253E%250A%253Ch3%2520class%2520%253D%2520%2522h-m%2522%253EHeading%25203%253C%252Fh3%253E%250A%253Ch4%2520class%2520%253D%2520%2522h-s%2522%253EHeading%25204%253C%252Fh4%253E%250A%253Ch5%2520class%2520%253D%2520%2522h-xs%2522%253EHeading%25205%253C%252Fh5%253E"
                style="width: 413px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <h1>Paragraph Text</h1>
            <p>There are five different font sizes used for paragraphs.You can use them using these classes: text-xl, text-l , text-m , text-s , text-xs</p>
            <div class = "container light-border"> 
                <p class = "text-xl">Paragraph XL</p>
                <p class = "text-l">Paragraph L</p>
                <p class = "text-m">Paragraph M</p>
                <p class = "text-s">Paragraph S</p>
                <p class = "text-xs">Paragraph XS</p>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%2520%253D%2520%2522text-xl%2522%253EParagraph%2520XL%253C%252Fp%253E%250A%253Cp%2520class%2520%253D%2520%2522text-l%2522%253EParagraph%2520L%253C%252Fp%253E%250A%253Cp%2520class%2520%253D%2520%2522text-m%2522%253EParagraph%2520M%253C%252Fp%253E%250A%253Cp%2520class%2520%253D%2520%2522text-s%2522%253EParagraph%2520S%253C%252Fp%253E%250A%253Cp%2520class%2520%253D%2520%2522text-xs%2522%253EParagraph%2520XS%253C%252Fp%253E"
                style="width: 447px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <h1>Font Weight</h1>

            <div class = "container light-border">
                <p class="wt-300 text-m">Light 300</p>
                <p class="wt-400 text-m">Regular 400</p>
                <p class="wt-600 text-m">Semibold 600</p>
                <p class="wt-700 text-m">Bold 700</p>
                <p class="wt-900 text-m">Black 900</p>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522wt-300%2520text-m%2522%253ELight%2520300%253C%252Fp%253E%250A%253Cp%2520class%253D%2522wt-300%2520text-m%2522%253ERegular%2520400%253C%252Fp%253E%250A%253Cp%2520class%253D%2522wt-600%2520text-m%2522%253ESemibold%2520600%253C%252Fp%253E%250A%253Cp%2520class%253D%2522wt-700%2520text-m%2522%253EBold%2520700%253C%252Fp%253E%250A%253Cp%2520class%253D%2522wt-900%2520text-m%2522%253EBlack%2520900%253C%252Fp%253E"
                style="width: 481px; height: 261px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <h1>Grey Text</h1>
            <p>You can make your text color gray using grey-text class</p>

            <div class = "container light-border">
                <p class="wt-300 text-m grey-text">Grey Text</p>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522wt-300%2520text-m%2520grey-text%2522%253EGrey%2520Text%253C%252Fp%253E"
                style="width: 540px; height: 189px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <h1>Text Alignment</h1>
            <p>You can align text to left,center and right by using classes - text-left, center-text, text-right</p>
                
            <div class = "container light-border">
                <p class="wt-400 text-m text-left">Left</p>
                <p class="wt-400 text-m center-text">Center</p>
                <p class="wt-400 text-m text-right">Right</p>
            </div>

            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522wt-400%2520text-m%2520text-left%2522%253ELeft%253C%252Fp%253E%250A%253Cp%2520class%253D%2522wt-400%2520text-m%2520center-text%2522%253ECenter%253C%252Fp%253E%250A%253Cp%2520class%253D%2522wt-400%2520text-m%2520text-right%2522%253ERight%253C%252Fp%253E"
                style="width: 531px; height: 225px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

        </div>

    </div>

</body>
</html>